
.page-viwer {
    background: #ffffff;
    -moz-border-radius: calc(var(--control-corner-radius) * 1px);
    -webkit-border-radius: calc(var(--control-corner-radius) * 1px);
    border-radius: calc(var(--control-corner-radius) * 1px);
    margin:10px;
    padding:10px;
}
