@inherits LayoutComponentBase

<div class="layout">
    
    <FluentHeader>
        <div class="header-title">
            <FluentAnchor IconStart="@(new DashboardIcons.Size32.Logo())" 
                          Appearance="Appearance.Stealth" 
                          Href="/" 
                          Class="logo">
                任务看板
            </FluentAnchor>
        </div>
    </FluentHeader>
    
    @* <NavMenu /> *@

    <FluentBodyContent Class="custom-body-content">
        <div style="padding:1.5rem">
            @Body
        </div>
    </FluentBodyContent>
    
    <FluentToastProvider />
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <div id="blazor-error-ui">
        @* @Loc[nameof(Layout.MainLayoutUnhandledErrorMessage)] *@
        <a href="" class="reload">something was wrong!</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
