@inherits LayoutComponentBase


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudContainer MaxWidth="MaxWidth.Large">
            <div class="d-flex">
                <MudNavLink Style="width:auto">LOGO</MudNavLink>
                <MudSpacer/>
                <MudNavLink Style="width:auto" Href="@($"/ConsoleLogs")">系统运行日志</MudNavLink>
            </div>
        </MudContainer>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-5">
            <PageViewer>
                @Body
            </PageViewer>
        </MudContainer>
    </MudMainContent>
</MudLayout>
