@inherits LayoutComponentBase

<div class="layout">
    
    <FluentHeader>
        <div class="header-title">
            <FluentAnchor IconStart="@(new DashboardIcons.Size32.Logo())" 
                          Appearance="Appearance.Stealth" 
                          Href="/" 
                          Class="logo">
                appname
            </FluentAnchor>
        </div>
        <div class="header-right">
            <FluentAnchor Appearance="Appearance.Stealth" 
                          IconEnd="@(new DashboardIcons.Size24.GitHub())"
                          Href="https://aka.ms/dotnet/aspire/repo" 
                          Target="_blank" Rel="noreferrer noopener"
                          Title="111" aria-label="1111" />
        </div>
    </FluentHeader>
    
    <NavMenu />

    <FluentBodyContent Class="custom-body-content">
        @Body
    </FluentBodyContent>
    
    
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <div id="blazor-error-ui">
        @* @Loc[nameof(Layout.MainLayoutUnhandledErrorMessage)] *@
        <a href="" class="reload">something was wrong!</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
