@inherits LayoutComponentBase

<div class="layout">
    
    <FluentHeader>
        <div class="header-title">
            <FluentAnchor IconStart="@(new DashboardIcons.Size32.Logo())" 
                          Appearance="Appearance.Stealth" 
                          Href="/" 
                          Class="logo">
                任务看板
            </FluentAnchor>
            <FluentIcon Value="@(new Icons.Regular.Size16.AlignLeft())" OnClick="ToggleNavMenu" />
        </div>
    </FluentHeader>
    
    <NavMenu Expanded="@_expanded" />

    <FluentBodyContent Class="custom-body-content"> 
        <div class="main-content">
            <PageViewer>
                @Body
            </PageViewer>
        </div>
    </FluentBodyContent>
    
    <FluentToastProvider />
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <div id="blazor-error-ui">
        <a href="" class="reload">something was wrong!</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
