<div class="nav-menu-container">
    <FluentNavMenu @bind-Expanded="@_expanded" Width="250" Class="cusNavMenu">
        <FluentNavLink Icon="@(new Icons.Regular.Size24.AppFolder())" Href="/" Match="NavLinkMatch.All" Tooltip="看板">看板</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size24.AppFolder())" Href="/1" Match="NavLinkMatch.All" Tooltip="看板">任务列表</FluentNavLink>
    </FluentNavMenu>
</div>


@code {
    bool _expanded = true;

    [Parameter] 
    public bool Expanded { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _expanded = Expanded;
    }

}