@page "/ConsoleLogs/{jobId?}"

<PageTitle>@($"{job?.DisplayName}")日志</PageTitle>


@if (job == null)
{
    <p>暂无数据</p>
}

<div class="log-overflow continuous-scroll-overflow">
    <div class="log-container" id="logContainer">
        <Virtualize Items="_appRunninglogs" ItemSize="20" OverscanCount="100">
            <div class="line-row-container">
                <div class="line-row">
                    <span class="line-area" role="log">
                        <span class="line-number">1</span>
                        <span class="content">
                            @((MarkupString)(context ?? string.Empty))
                        </span>
                    </span>
                </div>
            </div>
        </Virtualize>
    </div>
</div>
