.log-overflow {
    --console-theme-black: #0C0C0C;
    --console-theme-blue: #0037DA;
    --console-theme-cyan: #3A96DD;
    --console-theme-green: #13A10E;
    --console-theme-magenta: #CD13E8;
    --console-theme-bg-red: #F80F24;
    --console-theme-fg-red: #C50F1F;
    --console-theme-white: #CCCCCC;
    --console-theme-yellow: #C19C00;
    --console-theme-bright-black: #767676;
    --console-theme-bright-blue: #3B78FF;
    --console-theme-bright-cyan: #61D6D6;
    --console-theme-bright-green: #16C60C;
    --console-theme-bright-magenta: #DA01FA;
    --console-theme-bright-red: #E74856;
    --console-theme-bright-white: #F2F2F2;
    --console-theme-bright-yellow: #F9F1A5;
    --line-number-color: #848484;
    --timestamp-color: var(--line-number-color);
    --console-background-color: var(--console-theme-black);
    --console-background-color-hover: #1D1D1D;
    --console-font-color: var(--console-theme-white);
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--console-background-color);
}

::deep .log-container {
    background: var(--console-background-color);
    color: var(--console-font-color);
    font-family: 'Cascadia Mono', Consolas, monospace;
    font-size: 13px;
    margin: 16px 0 0 0;
    padding-bottom: 24px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
}

::deep .line-row-container {
    width: 100%;
    overflow: hidden;
}


.line-area {
    display: flex;
    flex-direction: row;
}

.line-row{
    padding: 5px 0 5px 0;
}

.line-row:hover {
    background:#979494b2
}


.line-number {
    width: 20px;
}

.log-container {
    padding: 0 20px 0 20px;
}

.continuous-scroll-overflow {
    height: calc(100vh - 110px) !important;
}
